html {
  background-image: url("https://media.istockphoto.com/id/481893966/vector/seamless-background-with-cookies-vector-illustration.jpg?s=612x612&w=0&k=20&c=CnrUvii-dEmTU0rBxe6xXcXLImUBIDvVyJKeOXVwQVA=");
  width: auto;
  height: auto;
}
#under-header {
  text-shadow: rgb(0, 0, 0) 1px 0px 0px, rgb(0, 0, 0) 0.540302px 0.841471px 0px,
    rgb(0, 0, 0) -0.416147px 0.909297px 0px,
    rgb(0, 0, 0) -0.989992px 0.14112px 0px,
    rgb(0, 0, 0) -0.653644px -0.756802px 0px,
    rgb(0, 0, 0) 0.283662px -0.958924px 0px,
    rgb(0, 0, 0) 0.96017px -0.279415px 0px;
  margin-top: -20px;
  font-size: x-large;
  font: bold;
  text-align: center;
  color: white;
}
h1 {
  text-shadow: rgb(0, 0, 0) 2px 0px 0px, rgb(0, 0, 0) 1.75517px 0.958851px 0px,
    rgb(0, 0, 0) 1.0806px 1.68294px 0px, rgb(0, 0, 0) 0.141474px 1.99499px 0px,
    rgb(0, 0, 0) -0.832294px 1.81859px 0px,
    rgb(0, 0, 0) -1.60229px 1.19694px 0px, rgb(0, 0, 0) -1.97998px 0.28224px 0px,
    rgb(0, 0, 0) -1.87291px -0.701566px 0px,
    rgb(0, 0, 0) -1.30729px -1.5136px 0px,
    rgb(0, 0, 0) -0.421592px -1.95506px 0px,
    rgb(0, 0, 0) 0.567324px -1.91785px 0px,
    rgb(0, 0, 0) 1.41734px -1.41108px 0px,
    rgb(0, 0, 0) 1.92034px -0.558831px 0px;
  color: white;
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: xx-large;
}
#cookie-image {
  text-align: center;
  margin-top: -10px;
}

body {
  width: 600px;
  margin: 0 auto;
  padding: 0 20px 20px 20px;
  border: 5px solid black;
  color: black;
  background-color: rgb(190, 162, 87);
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
@media (min-width: 600px) {
  #individual-ingredients {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
#ingredients {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  width: 557px;
  background-color: white;
  padding: 0 20px 20px 20px;
  border: 2px solid black;
}
#prep {
  width: 557px;
  background-color: white;
  padding: 0 20px 20px 20px;
  border: 2px solid black;
  margin-top: -10px;
}
footer:hover {
  font-size: large;
}
